#dev-toolbar-popup {
  box-sizing: border-box;
  color: black;
  padding: 2em;
  font-size: 2em;
  position: absolute;
  left: 20%;
  right: 20%;
  top: 4em;
  background-color: white;
  border: 10px solid red;
  height: 200px;
}

#dev-toolbar-popup a {
  display: inline;
  color: blue;
  text-decoration: underline;
  padding: 0;
}
